@font-face 
{
    font-family: 'jersey10';
    src: url(../font/Jersey10-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'jersey25';
    src: url(../font/Jersey25-Regular.ttf);
    font-weight: normal;
}

body
{
    margin: 0;
}

header 
{
    margin: 0%;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 3px 3px 25px 0 lightgray;
    position: sticky;
    top: 0;
    
}

.logo-container
{
    display: inline-block;
    padding: 1.1% 2%;
    width: 10%;
}

.logo {
    margin: 0% 0% 0% 0%;
    width: 100%;
}

.form
{
    width: 60%;
    display: inline-block;
    margin: 0%;
    padding: 0.8% 1% 0% 0%;
}

.buscar
{
    width: 90%;
    font-family: jersey10, sans-serif;
    font-size: x-large;
    background-color: #EAEAEA;
    border: #FFFFFF;
    margin: 0;
    padding: 0.9% 0% 0.9% 1%;
}

.button
{
    align-items: center;
    margin: 0;
    background-color: #1F8FFF;
    border: #1F8FFF;
    padding: 0.9% 1% 1.3% 1%;
}

.button-image
{
    position: relative;
    margin: 0;
    padding: 0% 0% 0% 0%;
    width: 50%;
}

.cuentaimg
{
    width: 5%;
    padding: 1% 0% 0% 0%;
    display: inline-block;
}

.cuenta
{
    width: 7%;
    display: inline-block;
    font-family: jersey25, sans-serif;
    margin: 0% 0% 0% -2.5%;
    padding: 0% 0% 0% 0%;
}

.cuentafont
{
    text-decoration: none;
    color: black;
}

.carrito
{
    display: inline-block;
    margin: 0% 0% 0% 2%;
    font-family: jersey25, sans-serif;
}

.carritofont
{
   font-family: jersey25, sans-serif;
   text-decoration: none;
   color: black;
}

.carritoimg
{
    width: 1%;
    padding: 1% 0% 0% 0%;
    display: inline-block;
}